 section.login {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 225, 225, 0.4);
  overflow-y: auto;
  margin: auto;
 } 

 .login form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.login a,
.login a:visited {
  color: #fff;
}

.login input[type="text"],
.login input[type="password"],
.login button,
.login textarea {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.login label,
.login button {
  margin-top: 1rem;
}

.login button {
  padding: 0.5rem;
}

.login .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.login .instructions > svg {
  margin-right: 0.25rem;
}

.login .offscreen {
  position: absolute;
  left: -9999px;
}

.login .hide {
  display: none;
}

.login .valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.login .invalid {
  color: red;
  margin-left: 0.25rem;
}

.login .errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.login .line {
  display: inline-block;
}

@media only screen and (min-width: 500px) {
  .login input[type="text"],
  .login input[type="password"],
  .login button,
  .login textarea {
    font-size: 16px;
  }
}

@media only screen and (min-width: 680px) {
  .login input[type="text"],
  .login input[type="password"],
  .login button,
  .login textarea {
    font-size: 22px;
  }
} 
