.NewProblem {
  background-color: #f8f8f8;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100%;
}

.NewProblem h2 {
  margin-top: 10px;
  font-size: 30px;
  color: black;
  text-align: center;
}

.newProblemForm {
  display: flex;
  flex-direction: column;
}

.newProblemForm label {
  font-size: 20px;
  color: black;
}

.newProblemForm input,
.newProblemForm select,
.newProblemForm textarea,
.newProblemForm div > textarea {
  font-family: "Nunito", sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width:100%;
  box-sizing: border-box;
}

.newProblemForm label,
button {
  margin-top: 10px;
}

.newProblemForm textarea,
.newProblemForm div > textarea {
  resize: vertical;
  min-height: 100px;
  overflow: auto;
  white-space: pre;
}

.newProblemForm button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: darkcyan;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newProblemForm button[type="submit"] {
  margin-top:10px;
}

.newProblemForm button:hover {
  background-color: #0b6464;
}

.newProblemForm div {
  display: flex;
  flex-direction: column;
}

.newProblemForm div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.newProblemForm p {
  font-size: 16px;
  padding: 5px 5px;
  color: black;
}

button.deleteTestcase {
  padding: 0 5px;
  background: none;
  color: black;
  border: none;
  cursor: pointer;
}

button.deleteTestcase:hover {
  background: none;
  color: red;
}

.react-tagsinput > span{
  flex:1;
  padding-right:5px;
}

.react-tagsinput-input {
  flex: 1;
}

.react-tagsinput-remove {
  color:#638421;
  text-decoration: none;
}