.problem-item {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .problem-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .problem-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-size: 20px;
  }
  
  .problem-item:hover .problem-content {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .problem-attribute {
    flex: 1;
    text-align: left;
  }
  
  .problem-attribute:last-child {
    text-align: right;
  }
  
  .problem-tag {
    margin-right: 5px;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f0f0f0;
    font-size: 16px;
  }
  