.problem-card {
  transition: transform 0.2s ease-in-out;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.problem-card:hover {
  transform: scale(1.02);
}

.problem-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.problem-link {
  text-decoration: none;
  color: inherit;
}

.problem-attribute {
  text-align: center;
  margin-bottom: 10px;
}

.problem-tag {
  margin: 4px;
}

.attribute-label {
  display: none;
  font-weight: bold;
  font-size: 1em;
  color: #555;
}

.attribute-value {
  font-size: 1.1em;
}

.problem-title {
  font-weight: bold;
}

.problem-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .problem-content {
    flex-direction: column;
    text-align: left;
  }

  .problem-attribute {
    width: 100%;
    padding: 5px 0;
  }

  .problem-tags {
    justify-content: center;
    text-align: center;
  }

  .attribute-label {
    display: inline-block;
    margin-right: 5px;
  }
}

.easy {
  color: green;
}

.medium {
  color: orange;
}

.hard {
  color: red;
}
