.problems-list-container {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.options {
    display:flex;
  margin: 10px 0;
}

.options input[type="text"] {
    flex:1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.options select {
    flex:1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

.problems-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: darkcyan;
  color: black;
  margin-bottom: 10px;
  font-size: 25px;
}

.header-item {
  font-weight: bold;
  flex: 1;
  text-align: left;
}

.header-item:last-child {
  text-align: right;
}

.problems-list {
    display:flex;
    flex-direction: column;
  list-style-type: none;
  gap: 10px;
}
