section.register {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 225, 225, 0.4);
  overflow-y: auto;
  margin: auto;
}

.register form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.register a,
.register a:visited {
  color: #fff;
}

.register input[type="text"],
.register input[type="password"],
.register button,
.register textarea {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.register label,
.register button {
  margin-top: 1rem;
}

.register button {
  padding: 0.5rem;
}

.register .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.register .instructions > svg {
  margin-right: 0.25rem;
}

.register .offscreen {
  position: absolute;
  left: -9999px;
}

.register .hide {
  display: none;
}

.register .register .valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.register .invalid {
  color: red;
  margin-left: 0.25rem;
}

.register .errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.register .line {
  display: inline-block;
}

@media only screen and (min-width: 500px) {
  .register input[type="text"],
  .register input[type="password"],
  .register button,
  .register textarea {
    font-size: 16px;
  }
}

@media only screen and (min-width: 680px) {
  .register input[type="text"],
  .register input[type="password"],
  .register button,
  .register textarea {
    font-size: 22px;
  }
}
